
.container {
    border: 1px solid rgb(64, 64, 64);
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: '100%';
  }
  .col {
    border: 5px solid rgb(35, 35, 35);
    background-color: #e0e0e0;
  }
html {
    overflow-x:hidden 
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}